<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Elysian Gallery</title>
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="js/fsmenu.js"></script>
<link rel="stylesheet" type="text/css" id="listmenu-h"  href="css/listmenu_h.css" title="Horizontal 'Earth'" />
<link rel="stylesheet" type="text/css" id="fsmenu-fallback"  href="css/listmenu_fallback.css" />
<script type="text/javascript" src="js/dropdowncontent.js"> </script>
<link rel="stylesheet" type="text/css" href="css/contentslider.css" />
<script type="text/javascript" src="js/contentslider.js"></script>
<link type="text/css" media="screen" rel="stylesheet" href="css/colorbox.css" />
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/jquery.colorbox.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				//Examples of how to assign the ColorBox event to elements
				$("a[rel='gallery']").colorbox();
				//Example of preserving a JavaScript event for inline calls.
				$("#click").click(function(){ 
					$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
					return false;
				});
			});
		</script>
</head>
<body>
<div id="container"> 
  <!--Header Start-->
  <div id="header">
    <div id="logo"><a href="#"><img src="images/img_logo.png" alt="" width="187" height="43" /></a></div>
    <ul class="menulist" id="listMenuRoot">
      <li><a href="#">THE RESORT</a>
        <ul>
          <li><a href="#">1 bedroom villa</a></li>
          <li><a href="#">2 bedroom villa</a></li>
          <li><a href="#">Restaurant &amp; bar</a></li>
          <li><a href="#">spa &amp; wellness</a></li>
          <li><a href="#">facilities &amp; activities</a></li>
          <li><a href="#">gallery</a></li>
        </ul>
      </li>
      <li><a href="#">TATES</a></li>
      <li><a href="#">PACKAGES</a></li>
      <li><a href="#">MEDIA</a></li>
      <li><a href="#">NEWS</a></li>
      <li class="last"><a href="#">CONTACT</a></li>
    </ul>
    <span>
    <select name="">
      <option value="0">Select Language</option>
    </select>
    </span> </div>
  <!--Header End-->
  <div id="content"> 
    <!--Sidebar Start-->
    <div class="content_top">
      <div class="contenttop_left">
       <div id="banner">
  <div id="slider1" class="sliderwrapper">
    <div class="contentdiv"><img src="images/pic_featured1.jpg" alt="" width="771" height="376" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">1Click here for details</a></p>
    </div>
    <div class="contentdiv"><img src="images/pic_featured2.jpg" alt="" width="771" height="376" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">2Click here for details</a></p>
    </div>
    <div class="contentdiv"><img src="images/pic_featured3.jpg" alt="" width="771" height="376" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">3Click here for details</a></p>
    </div>
  </div>
  <div id="paginate-slider1" class="pagination"> </div>
  <script type="text/javascript">
featuredcontentslider.init({
	id: "slider1",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["Previous", "Next"],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
	enablefade: [true, 0.2],  //[true/false, fadedegree]
	autorotate: [true, 3000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})
</script> 
</div>
        <div class="textbox img_gallery">
          <h1>Images Gallery</h1>
          <div class="gallery">
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e01.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e02.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e03.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e04.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e05.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b01.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b02.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b03.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b04.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b05.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e01.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e02.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e03.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e04.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="Entrance"><img src="images/img_e05.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b01.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b02.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b03.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b04.jpg" alt="" width="125" height="107" /></a></p>
          <p><a href="images/img_house.jpg" rel="gallery" title="bedroom"><img src="images/img_b05.jpg" alt="" width="125" height="107" /></a></p>
          </div>
        </div>
        <div class="textbox">
          <h2>Packages</h2>
          <div class="package_box">
            <div class="package_img"><img src="images/img_honeymoon.jpg" alt="" width="203" height="112" /></div>
            <div class="package_text">
              <h3>4 Days / 3 Nights at USD 1,050++</h3>
              <p>The Elysian promises a host of romantic delights for newlyweds with the launch of the indulgent Enchanting Honeymoons package.</p>
              <a href="#" class="booknow">BOOK NOW</a></div>
          </div>
          <div class="package_box">
            <div class="package_img"><img src="images/img_baliexplorer.jpg" alt="" width="203" height="112" /></div>
            <div class="package_text">
              <h3>4 Days / 3 Nights at USD 1,175++</h3>
              <p> The best way to experience our tropical island is with our Bali Explorer package. This two-day destination break will ensure you see the true charm of Bali.</p>
              <a href="#" class="booknow">BOOK NOW</a> </div>
          </div>
          <div class="package_box last">
            <div class="package_img"><img src="images/img_baliexplorer.jpg" alt="" width="203" height="112" /></div>
            <div class="package_text">
              <h3>4 Days / 3 Nights at USD 1,175++</h3>
              <p> The best way to experience our tropical island is with our Bali Explorer package. This two-day destination break will ensure you see the true charm of Bali.</p>
              <a href="#" class="booknow">BOOK NOW</a> </div>
          </div>
        </div>
        <div class="textbox bottom"> 
         <div id="banner_bottom">
  <div id="slider2" class="sliderwrapper1">
    <div class="contentdiv"><img src="images/img_villa.jpg" width="707" height="197" alt="" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">1Click here for details</a></p>
    </div>
    <div class="contentdiv"><img src="images/img_villa1.jpg" width="707" height="197" alt="" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">2Click here for details</a></p>
    </div>
    <div class="contentdiv"><img src="images/img_villa2.jpg" width="707" height="197" alt="" />
      <p><span>* * * Special last minute discounts for all february bookings...</span><a class="click" href="#">3Click here for details</a></p>
    </div>
  </div>
  <div id="paginate-slider2" class="pagination"> </div>
  <script type="text/javascript">
featuredcontentslider.init({
	id: "slider2",  //id of main slider DIV
	contentsource: ["inline", ""],  //Valid values: ["inline", ""] or ["ajax", "path_to_file"]
	toc: "#increment",  //Valid values: "#increment", "markup", ["label1", "label2", etc]
	nextprev: ["Previous", "Next"],  //labels for "prev" and "next" links. Set to "" to hide.
	revealtype: "click", //Behavior of pagination links to reveal the slides: "click" or "mouseover"
	enablefade: [true, 0.2],  //[true/false, fadedegree]
	autorotate: [true, 3000],  //[true/false, pausetime]
	onChange: function(previndex, curindex){  //event handler fired whenever script changes slide
		//previndex holds index of last slide viewed b4 current (1=1st slide, 2nd=2nd etc)
		//curindex holds index of currently shown slide (1=1st slide, 2nd=2nd etc)
	}
})
</script> 
</div>
        </div>
      </div>
      <div class="contenttop_right">
        <div class="book">
          <h1>BOOK ONLINE</h1>
          <form action="#">
            <p>
              <label>Arrival date:</label>
              <select class="long">
                <option>1</option>
              </select>
              <select class="longer">
                <option>Month/Yr</option>
              </select>
              <img src="images/icon_calender.png" alt="" width="16" height="16" /> </p>
            <p>
              <label>Departure:</label>
              <select class="long">
                <option>1</option>
              </select>
              <select class="longer">
                <option>Month/Yr</option>
              </select>
              <img src="images/icon_calender.png" alt="" width="16" height="16" /> </p>
            <p> <span>
              <label>Adults:</label>
              <select class="short">
                <option>2</option>
              </select>
              </span> <span>
              <label class="short">Children:</label>
              <select class="short">
                <option>0</option>
              </select>
              </span> </p>
            <p>
              <label>Promocode <i>(optional)</i></label>
              <input name="" type="text" class="input_text" />
            </p>
            <p> <a href="#" class="btn">Check Availability / Book Now</a> </p>
          </form>
        </div>
        <a  href="#" class="brown">see our RATES</a> <a href="#" class="brown"><strong>special</strong> OFFERS</a>
        <div class="getform">
          <form action="#">
            <fieldset>
              <input type="text" value="Join our Newsletter" onblur="if(this.value=='') this.value='Join our Newsletter';" onfocus="if(this.value=='Join our Newsletter') this.value='';" class="int_text" />
              <a href="#" class="int_btn"></a>
            </fieldset>
          </form>
          <p>Sign up to our newsletter and recieve great 
            offers and updates!</p>
          <p><span>To unsubscribe from e-news</span> <a href="#">click here.</a></p>
        </div>
        <div class="item">
          <h1>CONTACT US</h1>
          <div class="icons"> <a href="#" id="emaillink" rel="emailcontent"></a> <a href="#" id="phonelink" rel="phonecontent"></a> <a href="#" id="facebooklink" rel="facebookcontent"></a> <a href="#" id="twitterlink" rel="twittercontent"></a> <a href="#" id="skypelink" rel="skypecontent"></a> <a href="#" id="rightlink" rel="rightcontent"></a></div>
        </div>
        <div class="item_bottom">
        <a href="#" id="design"></a>
        <a href="#" id="hiphotel"></a>
        <a href="#" id="tablet"></a>
        <a href="#" id="kiwi"></a>
        <a href="#" id="recommended"></a>
        </div>
      </div>
      
    </div>
    <!--Sidebar End--> 
  </div>
</div>
<!--Footer Start-->
<div id="footer">
  <div id="copyright"><img src="images/img_copyright.png" alt="" width="131" height="12" /> 2010 &copy; the elysian bali villas All Rights Reserved.</div>
  <ul id="footer_nav">
    <li><a href="#">Contact</a></li>
    <li><a href="#">Unsubscribe</a></li>
    <li><a href="#">Sitemap</a></li>
    <li><a href="#">Privacy Statement</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li class="last"><a href="#">Connect with us</a></li>
  </ul>
</div>
<!--Footer End-->
<!--popup begin-->
<div id="emailcontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width:541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:202px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:15px;" /></p></div>
    <div class="subpage_inner">
    <p>emailcontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>                                                           
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("emaillink", "right-bottom", 1, 'mouseover')
</script>
<div id="phonecontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:164px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:55px;" /></p></div>
    <div class="subpage_inner">
          <p>phonecontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>  
                             
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("phonelink", "right-bottom", 1, 'mouseover')
</script>
<div id="facebookcontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:125px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:95px;" /></p></div>
    <div class="subpage_inner">
          <p>facebookcontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>  
                             
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("facebooklink", "right-bottom", 1, 'mouseover')
</script>
<div id="twittercontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width:541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:90px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:125px;" /></p></div>
    <div class="subpage_inner">
    <p>twittercontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>                                                           
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("twitterlink", "right-bottom", 1, 'mouseover')
</script>
<div id="skypecontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:50px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:167px;" /></p></div>
    <div class="subpage_inner">
          <p>skypecontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>  
     </div>                        
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("skypelink", "right-bottom", 1, 'mouseover')
</script>

<div id="rightcontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:10px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:210px;" /></p></div>
    <div class="subpage_inner">
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>  
 </div>                            
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("rightlink", "right-bottom", 1, 'mouseover')
</script>
<!--popup end-->
</body>
</html>
